<?xml version="1.0"?>
<launch>
  
  <arg name="sim" default="true" />

  <!-- start the robot-->
  <include file="$(find ur_robot_driver)/launch/ur5e_bringup.launch" pass_all_args="true">
   <arg name="robot_ip" default="192.168.56.101" />
  </include>

  <include file="$(find ur5_e_moveit_config)/launch/move_group.launch">
  </include>


  <!-- Including ur_grinding nodes -->
  <node name="publish_meshfile" pkg="fanuc_grinding_publish_meshfile" type="fanuc_grinding_publish_meshfile" output="screen"/>
  <node name="scanning" pkg="fanuc_grinding_scanning" type="fanuc_grinding_scanning" output="screen"/>
  <node name="path_planning" pkg="fanuc_grinding_path_planning" type="fanuc_grinding_path_planning" output="screen"/> 

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ur_grinding_rviz_plugin)/config/robot_state_visualize.rviz" output="screen" required="true" />

</launch>
